[submodule "pros"]
	path = pros
	url = https://github.com/purduesigbots/pros
	branch = pros-4/doxygen-integration
[submodule "m.css"]
	path = m.css
	url = https://github.com/mosra/m.css
	branch = master
