[submodule "pros"]
	path = pros
	url = https://github.com/purduesigbots/pros
	branch = develop-pros-4
[submodule "m.css"]
	path = m.css
	url = https://github.com/mosra/m.css
	branch = master
[submodule "pros-cli"]
	path = pros-cli
	url = https://github.com/purduesigbots/pros-cli
	branch = doxygen-integration
[submodule "liblvgl-8.3"]
	path = liblvgl-8.3
	url = https://github.com/purduesigbots/liblvgl
	branch = master
[submodule "liblvgl-5.3"]
	path = liblvgl-5.3
	url = https://github.com/purduesigbots/liblvgl
	branch = lvgl-5.3	
