main p {
  text-indent: 0rem;
}

a {
  color: #e6b85c;
}

a:hover {
  color: #f7e8cb;
}

body > header > nav,
body > footer > nav {
  background-color: #343131;
}

html,
ul.m-doc li.m-doc-expansible > a:first-child::before,
ul.m-doc li.m-doc-collapsible > a:first-child::before {
  background-color: #222;
}

body > header > nav #m-navbar-collapse li a:hover,
body > header > nav #m-navbar-collapse li a:focus,
body > header > nav #m-navbar-collapse li a:active,
body > header > nav #m-navbar-collapse li a#m-navbar-current {
  border-color: #e6b85c;
  background-color: #4e4a4a;
}

body > header > nav a:hover,
body > header > nav a:focus,
body > header > nav a:active,
body > header > nav #m-navbar-collapse li a#m-navbar-current {
  color: #e6b85c;
}

a.m-doc-self,
ul.m-doc li.m-doc-expansible > a:first-child::before,
ul.m-doc li.m-doc-collapsible > a:first-child::before {
  color: #343131;
}

ul.m-doc {
  border-left-color: #999;
}
