/* monokai pygments style */
.m-code pre {
  background-color: #272822;
}
.m-code .hll {
  background-color: #272822;
}
.m-code .c {
  color: #75715e;
} /* Comment */
.m-code .err {
  color: #960050;
  background-color: #1e0010;
} /* Error */
.m-code .k {
  color: #66d9ef;
} /* Keyword */
.m-code .l {
  color: #ae81ff;
} /* Literal */
.m-code .n {
  color: #f8f8f2;
} /* Name */
.m-code .o {
  color: #f92672;
} /* Operator */
.m-code .p {
  color: #f8f8f2;
} /* Punctuation */
.m-code .cm {
  color: #75715e;
} /* Comment.Multiline */
.m-code .cp {
  color: #75715e;
} /* Comment.Preproc */
.m-code .c1 {
  color: #75715e;
} /* Comment.Single */
.m-code .cs {
  color: #75715e;
} /* Comment.Special */
.m-code .ge {
  font-style: italic;
} /* Generic.Emph */
.m-code .gs {
  font-weight: bold;
} /* Generic.Strong */
.m-code .kc {
  color: #66d9ef;
} /* Keyword.Constant */
.m-code .kd {
  color: #66d9ef;
} /* Keyword.Declaration */
.m-code .kn {
  color: #f92672;
} /* Keyword.Namespace */
.m-code .kp {
  color: #66d9ef;
} /* Keyword.Pseudo */
.m-code .kr {
  color: #66d9ef;
} /* Keyword.Reserved */
.m-code .kt {
  color: #66d9ef;
} /* Keyword.Type */
.m-code .ld {
  color: #e6db74;
} /* Literal.Date */
.m-code .m {
  color: #ae81ff;
} /* Literal.Number */
.m-code .s {
  color: #e6db74;
} /* Literal.String */
.m-code .na {
  color: #a6e22e;
} /* Name.Attribute */
.m-code .nb {
  color: #f8f8f2;
} /* Name.Builtin */
.m-code .nc {
  color: #a6e22e;
} /* Name.Class */
.m-code .no {
  color: #66d9ef;
} /* Name.Constant */
.m-code .nd {
  color: #a6e22e;
} /* Name.Decorator */
.m-code .ni {
  color: #f8f8f2;
} /* Name.Entity */
.m-code .ne {
  color: #a6e22e;
} /* Name.Exception */
.m-code .nf {
  color: #a6e22e;
} /* Name.Function */
.m-code .nl {
  color: #f8f8f2;
} /* Name.Label */
.m-code .nn {
  color: #f8f8f2;
} /* Name.Namespace */
.m-code .nx {
  color: #a6e22e;
} /* Name.Other */
.m-code .py {
  color: #f8f8f2;
} /* Name.Property */
.m-code .nt {
  color: #f92672;
} /* Name.Tag */
.m-code .nv {
  color: #f8f8f2;
} /* Name.Variable */
.m-code .ow {
  color: #f92672;
} /* Operator.Word */
.m-code .w {
  color: #f8f8f2;
} /* Text.Whitespace */
.m-code .mf {
  color: #ae81ff;
} /* Literal.Number.Float */
.m-code .mh {
  color: #ae81ff;
} /* Literal.Number.Hex */
.m-code .mi {
  color: #ae81ff;
} /* Literal.Number.Integer */
.m-code .mo {
  color: #ae81ff;
} /* Literal.Number.Oct */
.m-code .sb {
  color: #e6db74;
} /* Literal.String.Backtick */
.m-code .sc {
  color: #e6db74;
} /* Literal.String.Char */
.m-code .sd {
  color: #e6db74;
} /* Literal.String.Doc */
.m-code .s2 {
  color: #e6db74;
} /* Literal.String.Double */
.m-code .se {
  color: #ae81ff;
} /* Literal.String.Escape */
.m-code .sh {
  color: #e6db74;
} /* Literal.String.Heredoc */
.m-code .si {
  color: #e6db74;
} /* Literal.String.Interpol */
.m-code .sx {
  color: #e6db74;
} /* Literal.String.Other */
.m-code .sr {
  color: #e6db74;
} /* Literal.String.Regex */
.m-code .s1 {
  color: #e6db74;
} /* Literal.String.Single */
.m-code .ss {
  color: #e6db74;
} /* Literal.String.Symbol */
.m-code .bp {
  color: #f8f8f2;
} /* Name.Builtin.Pseudo */
.m-code .vc {
  color: #f8f8f2;
} /* Name.Variable.Class */
.m-code .vg {
  color: #f8f8f2;
} /* Name.Variable.Global */
.m-code .vi {
  color: #f8f8f2;
} /* Name.Variable.Instance */
.m-code .il {
  color: #ae81ff;
} /* Literal.Number.Integer.Long */

.m-code .gh {
} /* Generic Heading & Diff Header */
.m-code .gu {
  color: #75715e;
} /* Generic.Subheading & Diff Unified/Comment? */
.m-code .gd {
  color: #f92672;
} /* Generic.Deleted & Diff Deleted */
.m-code .gi {
  color: #a6e22e;
} /* Generic.Inserted & Diff Inserted */
