main p {
	text-indent: 0rem;
}

a {
	color: #E6B85C;
}

a:hover {
	color: #f7e8cb;
}

body > header > nav, body > footer > nav {
	background-color: #343131;
}

html {
	background-color: #222;
}

body > header > nav #m-navbar-collapse li a:hover, body > header > nav #m-navbar-collapse li a:focus, body > header > nav #m-navbar-collapse li a:active {
	border-color: #e6b85c;
	background-color: #4e4a4a;
}

body > header > nav a:hover, body > header > nav a:focus, body > header > nav a:active {
	color: #e6b85c;
}

