/* remove text indent */
main p {
  text-indent: 0rem;
}

/* change link color */
a {
  color: #e6b85c;
}

a:hover {
  color: #f7e8cb;
}

/* background */
html,
.m-doc-search-content {
  background-color: #222;
}

/* header footer background */
body > header > nav,
body > footer > nav {
  background-color: #343131;
}

/* header buttons */
body > header > nav #m-navbar-collapse li a:hover,
body > header > nav #m-navbar-collapse li a:focus,
body > header > nav #m-navbar-collapse li a:active,
body > header > nav #m-navbar-collapse li a#m-navbar-current {
  border-color: #e6b85c;
  background-color: #4e4a4a;
}

/* header button text */
body > header > nav a:hover,
body > header > nav a:focus,
body > header > nav a:active,
body > header > nav #m-navbar-collapse li a#m-navbar-current,
/* symbol link */
a.m-doc-self,
ul.m-doc li.m-doc-expansible > a:first-child::before,
ul.m-doc li.m-doc-collapsible > a:first-child::before,
/* namespace */
article h1 .m-breadcrumb a,
/* file */ 
.m-code .cpf {
  color: #e6b85c;
}

/* indent line color */
ul.m-doc {
  border-left-color: #999;
}

/* remove weird list artifact */
ul.m-doc li.m-doc-expansible > a:first-child::before,
ul.m-doc li.m-doc-collapsible > a:first-child::before {
  background-color: #222222;
}

/* code blocks */
article section.m-doc-details > div > h3:first-child {
  background-color: #333333;
}

/* headings */
article h1 a,
article > header h1,
article > header h1 a,
article section > h2,
article section > h2 a,
article section > h3,
article section > h3 a,
article section > h4,
article section > h4 a,
article section > h5,
article section > h5 a,
article section > h6,
article section > h6 a,
/* include */
.m-code .cp,
.m-note.m-info,
/* note */
table.m-table tr.m-info td,
table.m-table td.m-info,
table.m-table tr.m-info th,
table.m-table th.m-info {
  color: #dcdcdc;
}

/* search */
.m-doc-search {
  background-color: rgba(52, 49, 49, 0.75);
}

.m-doc-search input,
pre,
code,
.m-note.m-default,
.m-note.m-info,
table.m-table tr.m-info td,
table.m-table td.m-info,
table.m-table tr.m-info th,
table.m-table th.m-info {
  background-color: #333333;
}

.m-block.m-dim,
.m-text.m-dim,
.m-label.m-flat.m-dim {
  color: #dcdcdc;
}

.m-block.m-default,
.m-container-inflatable section.m-doc-details:target > div::before,
.m-container-inflatable section-dox-details:target section > div.m::before {
  border-left-color: #e6b85c;
}

.m-block,
table.m-table th,
table.m-table td {
  border-color: #999;
}

article section.m-doc-details > div::before {
  border-color: #333333;
}
